.graph .labels.x_labels {
  text-anchor: middle;
}

.graph .labels.y_labels {
  text-anchor: end;
}

.graph {}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label_title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}
